APP_NAME="TransitOps"
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/TransitOps
APP_TIMEZONE=Asia/Kolkata

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=transitops
DB_USERNAME=root
DB_PASSWORD=

SESSION_NAME=transitops_session
SESSION_LIFETIME=120
